ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:  black;
    position: fixed;
    top: 0;
    width: 100%
}

li {
    float: left;
    border-right:1px solid #bbb;
}



li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none
}


 .container  { margin: 10px;
  padding: 14px;
  border-style: solid;
    border-width: 5px;

}

.active{background-color: green;

}
body {
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, blue, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, blue, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg,blue, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, blue, white); /* Standard syntax */
}
